{% extends "base.html" %}

{% block main_content %}
{% if date_needed == 'True' %}
<script src="{{ url_for('static',filename='time.js') }}" type="module"></script> 
{% endif %}
<form action="" method="POST" novalidate id="hiddenFormid">
    {{ hiddenForm.hidden_tag() }}
    {{ hiddenForm.todaysDate()}}
</form>
<h1>Hello {{ users_name }}</h1>
<section id="days">
{% if day == 0 %}
    <h2> Mon </h2>
    <h2> Tue </h2>
    <p> Wed</p>
    <p>Thu</p>
    <p> Fri</p>
    <p> Sat</p>
    <p> Sun</p>
{% endif %}
{% if day == 1 %}
    <p> Tue </p>
    <p> Wed</p>
    <p>Thu</p>
    <p> Fri</p>
    <p> Sat</p>
    <p> Sun</p>
    <p> Mon </p>
{% endif %}
{% if day == 2 %}
    <p> Wed</p>
    <p>Thu</p>
    <p> Fri</p>
    <p> Sat</p>
    <p> Sun</p>
    <p> Mon </p>
    <p> Tue </p>
{% endif %}
{% if day == 3 %}
    <p>Thu</p>
    <p> Fri</p>
    <p> Sat</p>
    <p> Sun</p>
    <p> Mon </p>
    <p> Tue </p>
    <p> Wed</p>
{% endif %}
{% if day == 4 %}
    <h2> Fri</h2>
    <h2> Sat</h2>
    <h2> Sun</h2>
    <h2> Mon </h2>
    <h2> Tue </h2>
    <h2> Wed</h2>
    <h2>Thu</h2>
{% endif %}
{% if day == 5 %}
    <p> Sat</p>
    <p> Sun</p>
    <p> Mon </p>
    <p> Tue </p>
    <p> Wed</p>
    <p>Thu</p>
    <p> Fri</p>
{% endif %}
{% if day == 6 %}
    <p> Sun</p>
    <p> Mon </p>
    <p> Tue </p>
    <p> Wed</p>
    <p>Thu</p>
    <p> Fri</p>
    <p> Sat</p>
{% endif %}
</section>
<main>




<div id="times">
 {% for i in range(0,24) %}
    <p id="time{{ i }}">{{i}}:00</p>
 {% endfor %}   

</div>
<!--all the events will be displayed on the screen here -->
<div class="eventContainer">
    {% for out in output %}

     <p id='idof{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<div class="eventContainer">
 {% for out in outputAdd1 %}

     <p id='idof1{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<div class="eventContainer">
 {% for out in outputAdd2 %}

     <p id='idof2{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<div class="eventContainer">
 {% for out in outputAdd3 %}

     <p id='idof3{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<div class="eventContainer">
 {% for out in outputAdd4 %}

     <p id='idof4{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<div class="eventContainer">
 {% for out in outputAdd5 %}

     <p id='idof5{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<div class="eventContainer">
 {% for out in outputAdd6 %}

     <p id='idof6{{ out["id"] }}'>{{ out['name'] }} </p>
    {% endfor %}
</div>
<!-- end of events -->
</main>
<style>

main{
    display: flex;
    flex-direction: row;
}
#times{
    position: relative;
}
#time0{
    margin:0px;
}
{% for hour in range(1,24) %}
#time{{ hour }} {
    position: absolute;
    /*margin-top: {{ ((60*hour)/1440)*100 }}%;*/
    /*margin-top: {{ 40 }}px;
    content:10px;
    margin-bottom: 0px;*/
    margin-top: {{ (60*hour)-18.4 }}px;


}
{% endfor %}
.eventContainer{
    position:relative;
    width:100px;
    height: 1440px;
    background-color: #3feee6;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
div {background-color: #55bcc9;}
{% for out in output %}
#idof{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 5%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}

{% for out in outputAdd1 %}
#idof1{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 10%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}

{% for out in outputAdd2 %}
#idof2{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 15%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}

{% for out in outputAdd3 %}
#idof3{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 20%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}

{% for out in outputAdd4 %}
#idof4{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 25%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}

{% for out in outputAdd5 %}
#idof5{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 30%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}

{% for out in outputAdd6 %}
#idof6{{ out['id'] }} {
display: block;
position: absolute;
background-color: #fc4445;
margin-left: 35%;
width:100px;
margin-top:{{ out['startTime'] }}px; 
margin-bottom:0px;
height:{{ (out['endTime']-out['startTime']) }}px;
}
    {% endfor %}
#days{
    margin-left: 3%;
}
#days>h2{
    display: inline-block;
    margin-left:3%;
}
</style>
{% endblock %}