{% extends "base.html" %}

{% block main_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_auth.css') }}">
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}
    {{ form.eventName.label }}
    {{ form.eventName() }}
    <br>
    {{ form.eventStart.label }}
    {{ form.eventStart() }}
    <br>
    {{ form.eventEnd.label }}
    {{ form.eventEnd() }}
    <br>
    {{ form.date.label }}
    {{ form.date() }}
    <br>
    {{ form.reacuring.label }}
    {{ form.reacuring() }}
    <br>
    {{ form.isPublic.label }}
    {{ form.isPublic() }}
    <br>
    {{ form.submit.label }}
    {{ form.submit() }}
</form>

{% endblock %}