p{
	color:red;
}
form{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  padding:20px;
}